html, body {
  margin: 0;
}

body{
    background-color: aliceblue;
    font-family: serif;
}

h1,h2 {
    text-align: center;
}

div p{
    background-color: white;
}

p{
    font-size: 1rem;
    max-width: 1200px;
    text-align: center;
    margin:0 auto;
}

#maintitle{
	background-color: aliceblue;
}

#enlaces{
	
	background-color: orange;
	width: 100%;
	display: flex;
    justify-content: space-evenly;
}

.link{
	margin:10px;
	padding: 1.5rem;
	background-color:darkorange;
}
