* {
  margin: 0;
  }



body{
    background-color: aliceblue;
    font-family: serif;
}

h1,h2 {
    text-align: center;
    background-color: antiquewhite;
    text-shadow: 2px 2px 3px lightblue;
    hyphens: auto;
}

h1{
    font-size: clamp(25px,3vw + 1rem, 50px);
}

h2{
    font-size: clamp(15px,2.5vw + 1rem, 40px);
    padding:  25px;
}

div p{
    background-color: white;
}

p{
    font-size: clamp(19.6px,2.05vw, 37px);
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin:0 auto;
    min-width: 400px;
    max-height: 500px;
    max-width: 1200px;
    text-align: justify;
    hyphens: auto;
    color: #000033;
    padding-left: 10px;
}

#maintitle{
    display: block;
	background-color: antiquewhite;
    padding: 8rem 0rem 0rem 0rem;
}

#enlaces{
    z-index: 0;
    top: 0;
    position: fixed;
	background-color: orange;
	width: 100%;
	display: flex;
    justify-content: space-evenly;
    
}

#section1{
    
    background-color: white;
    display: flex;
}

.reference{

    display: block;
    text-align: right;
    font-size: clamp(22px,2vw, 37px);
    padding: 50px;
    
}

.reference a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-decoration: dashed;
}

.reference:focus{
outline: 2px solid #4da3ff;
}

#section2{
    display: flex;
    background-color: white;
}

#section2 p{
    padding-right: 10px;
    min-height: 450px;
    font-size: clamp(23px,2.6vw, 37px);
}

.link{
	margin:10px;
    color: wheat;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: dashed;
	padding: 1.5rem;
	background-color:darkorange;
}

footer{
    background-color: #222;
    border: 0px;
    padding: 50px;
}

#fake-legal small{
    color: whitesmoke;
}

#last-text{
    padding-left: 20px;
    padding-right: 20px;
    
    max-width: 1800px;
    text-align: justify;
    max-height: none;
}

#last-div{
    background-color: white;
}